ul,
li {
  margin: 16px;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  list-style: none;
}

li {
  border: 1px solid black;
}

.item {
  &-dropzone {
    border: 1px dashed grey;
    min-height: 36px;

    &.parent {
      border: none;
    }
  }

  &-drag {
    &-handle {
      display: inline-flex;
      align-items: center;
    }

    &-preview {
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: white;
    }
  }
}

.cdk-drop-list-dragging {
  background: ccc;
}

.cdk-drag-placeholder {
  // opacity: 0;
  // height: 0;
}

.section-placeholder {
  background: #ccc;
  border: solid 0.1px #ccc;
  height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.child-placeholder {
  // opacity: 0;background: #ccc;
  background: #ccc;
  border: dotted 0.1px #ccc;
  height: 20px;
  // transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
